<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :member_id %>
    <%= form.text_field :member_id, id: :entry_member_id %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :entry_amount %>
  </div>

  <div class="field">
    <%= form.label :entry_type %>
    <%= form.text_field :entry_type, id: :entry_entry_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
