
<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_field :detail, id: :entry_detail %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :entry_amount %>
  </div>

  <div class="field">
    <%= form.hidden_field(:member_id, :value => params[:m]) %>
  </div>

  <div class="field">
    <%= form.label :entry_type %>
    <%= form.select(:entry_type, @type.map { |r| [ r.description , r.id ] }, {}, :id => "entry_type") %>
  </div>  

  <div id="salary_options" class="field hidden">
    <%= form.label :afp_id %>
    <%= form.select(:afp_id,@afps.map { |r| [ r.description , r.id ] }) %>
  </div>


  <div class="field">
    <%= form.label :period %>
    <%= form.select(:period, @period.map { |r| [ r.description , r.id ] }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script type="text/javascript">
  $('#entry_type').change(function(){
    if($('#entry_type').val() == 3 ){
      $('#salary_options').removeClass( "hidden" )
    }
    //if ($('entry[entry_type]').value()=="Sueldo"){
    //  
    //}
  })
</script>
