
<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Detalle: ", class: "white" %>
    <%= form.text_field :detail, id: :entry_detail %>
  </div>

  <div class="field">
    <%= form.label "Monto: ", class: "white" %>
    <%= form.text_field :amount, id: :entry_amount %> <br/>
    <span class="hidden" id="notice" style="color: red">El saldo seria negativo. No puedes gastar lo que no tienes</span>
  </div>




  <div class="field">
    <%= form.hidden_field(:member_id, :value => params[:m]) %>
  </div>

  <div class="field">
    <%= form.label "Tipo entrada: ", class: "white" %>
    <%= form.select(:entry_type, @type.map { |r| [ r.description , r.id ] }, {}, :id => "entry_type") %>
  </div>  

  <div id="salary_options" class="field hidden">
    <%= form.label "AFP: ", class: "white" %>
    <%= form.select(:afp_id,@afps.map { |r| [ r.description , r.id ] }) %>
  </div>


  <div class="field">
    <%= form.label "Periodo: ", class: "white" %>
    <%= form.select(:period, @period.map { |r| [ r.description , r.id ] }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script type="text/javascript">
  $('#entry_type').change(function(){
    if($('#entry_type').val() == 3 ){
      $('#salary_options').removeClass( "hidden" )
    }
    //if ($('entry[entry_type]').value()=="Sueldo"){
    //  
    //}
  })

  $("#entry_amount").on("change paste keyup", function() {
    var savings_0 = "<% @family_savings[0]%>"
      if($('#entry_type').val() == 2 ){
         savings_0 -= parseFloat($('#entry_amount').val())
        if(savings_0 < 0){
          $("#notice").removeClass("hidden")
          $(':input[type="submit"]').prop('disabled', true);
        }else{
          $("#notice").addClass("hidden")
          $(':input[type="submit"]').prop('enabled', false);
        }
      }
  });
  $("#entry_type").on("change paste keyup", function() {
    var savings_0 = "<% @family_savings[0]%>"
      if($('#entry_type').val() == 2 ){
         savings_0 -= parseFloat($('#entry_amount').val())
        if(savings_0 < 0){
          $("#notice").removeClass("hidden")
          $(':input[type="submit"]').prop('disabled', true);
        }else{
          $("#notice").addClass("hidden")
          $('input[type="submit"]').prop('enabled', false);
        }
      }
      
  });
  
</script>
