<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @entry.member %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @entry.amount %>
</p>

<p>
  <strong>Entry type:</strong>
  <%= @entry.entry_type %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
