<%= form_with(model: relation, local: true) do |form| %>
  <% if relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(relation.errors.count, "error") %> prohibited this relation from being saved:</h2>

      <ul>
      <% relation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :relation_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
