<p id="notice"><%= notice %></p>

<h1>Entry Types</h1>
<div style="margin-top: 100px" class="container">
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entry_types.each do |entry_type| %>
      <tr>
        <td><%= entry_type.id %></td>
        <td><%= entry_type.description %></td>
        <td><%= link_to 'Show', entry_type %></td>
        <td><%= link_to 'Edit', edit_entry_type_path(entry_type) %></td>
        <td><%= link_to 'Destroy', entry_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Entry Type', new_entry_type_path %>
