<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @afp.description %>
</p>

<p>
  <strong>Tasa:</strong>
  <%= @afp.rate %>
</p>

<%= link_to 'Edit', edit_afp_path(@afp) %> |
<%= link_to 'Back', afps_path %>
