<%= stylesheet_link_tag 'style' %>

<center>
<div style="margin-top: 100px" class="container">
  
  <h1>Familia</h1><br/>
  <div style="width: 100%">
  <table>
    <thead>
      <th>Mes</th>
      <th>Ahorro</th>
      <th><div style="float: right">Tasa: <%=select_tag "rates", options_from_collection_for_select(@rates, "id", "rate", params[:r] || Rate.first.id), class: 'black' %>% <span style="color: white"> - <%=Rate.find(params[:r]||Rate.first.id).description%></span></div></th>
    </thead>
    <tbody id="contracted">
      <tr >
        <td colspan="3"  style="text-align: center"><a onclick="expandSavings()">Expandir</a></td>
      </tr>
    </tbody>
    <tbody id="expanded" class="hidden">
      <% for i in 1..12 %>
        <tr>
          <td><%= i %></td>
          <td colspan="2"><%= @family_savings[i-1] %></td>       
        </tr>
      <% end %>
      <tr>
        <td  colspan="3" style="text-align: center"><a onclick="contractSavings()">Contraer</a></td>
      </tr>   
    </tbody>
  </table>
</div><br/>
  <div ><%= link_to 'New Member', new_member_path, {:style=>'float:right'} %><br/>
  <table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Relaci&oacute;n</th>
      <th style="text-align: center" colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>

    <% if @members.count == 0 %>
      <tr>
        <td style="text-align: center" colspan="4">Aun no hay miembros. Agrega uno!</td>
      </tr>
    <% end %>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= Relation.find(member.relation).description %></td>
        
        <td style="text-align: center"><%= link_to 'Show', member %></td>
        <td style="text-align: center"><%= link_to 'Edit', edit_member_path(member) %></td>
        <td style="text-align: center"><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</center>
<br>


<script type="text/javascript">
  function expandSavings(){
    $('#contracted').addClass('hidden')
    $('#expanded').removeClass('hidden')
  }
  function contractSavings(){
    $('#contracted').removeClass('hidden')
    $('#expanded').addClass('hidden')
  }

  $('#rates').change(function(){
    window.location.href = "<%members_path%>?r=" + $('#rates').val()
  })

</script>