<%= stylesheet_link_tag 'style' %>




<div style="min-width: 960px; padding: 0px 50px 0px 50px;"  class="container">
<div class="header">
<span class="title"><%= @member.name %></span> <span class="subtitle"><%= Relation.find(@member.relation).description %></span>
<div class="header_actions">
<%= link_to 'Editar', edit_member_path(@member) %> |
<a href="/entries/new?m=<%= @member.id %>">Agregar registro</a>
</div>
</div>
<div style="width: 100%">
	<table>
		<thead>
			<th>Mes</th>
			<th>Ahorro</th>
			<th><div style="float: right">Tasa: <%=select_tag "rates", options_from_collection_for_select(@rates, "id", "rate", params[:r] || Rate.first.id), class: 'black' %>% <span style="color: white"> - <%=Rate.find(params[:r]||Rate.first.id).description%></span></div></th>
		</thead>
		<tbody id="contracted">
			<tr >
				<td colspan="3"  style="text-align: center"><a onclick="expandSavings()">Expandir</a></td>
			</tr>
		</tbody>
		<tbody id="expanded" class="hidden">
			<% for i in 1..12 %>
				<tr>
					<td><%= i %></td>
					<td colspan="2"><%= @anual_savings[i-1] %></td>				
				</tr>
			<% end %>
			<tr>
				<td  colspan="3" style="text-align: center"><a onclick="contractSavings()">Contraer</a></td>
			</tr>		
		</tbody>
	</table>
</div>
<div class="table-container">
	<div style="float: left">
	<span style="float: left; font-size: 20px; margin-bottom: 10px">Egresos</span><br/>
	<table class="table details_table left">
		<thead>
			<th>Detalle</th>
			<th>Monto</th>
			<th colspan="2">Actions</th>
		</thead>
		<tbody>
		<% if @outcome.count == 0 %>
			<tr>
      			<td style="text-align: center"  colspan="4">No hay egresos</td>
      		</tr>
		<% end %>
		<% @outcome.each do |i| %>

      <tr>
        <td><%= i.detail %></td>
        <td><%= i.amount.round(2) %></td>
        <td><%= link_to 'Edit', edit_entry_path(i, :m => params[:id]) %></td>
        <td><%= link_to 'Destroy', i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

				
		</tbody>
	</table>
	</div>
	<div style="float: right">
	<span style="float: left; font-size: 20px; margin-bottom: 10px">Ingresos</span><br/>
	<table class="table details_table right">
		<thead>
			<th>Detalle</th>
			<th>Monto</th>
			<th>Periodo</th>
			<th colspan="2">Actions</th>
		</thead>
		<tbody>

		<% if @income.count == 0 && @salary.count == 0 %>
			<tr>
      			<td style="text-align: center" colspan="4">No hay ingresos</td>
      		</tr>
		<% end %>
	<% @income.each do |i| %>
      <tr>
        <td><%= i.detail %></td>
        <td><%= i.amount.round(2) %></td>
        <td><%= link_to 'Edit', edit_entry_path(i, :m => params[:id]) %></td>
        <td><%= link_to 'Destroy', i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% @salary.each do |i| %>
      <tr>
        <td><%= i.detail %></td>
        <td><%= i.amount.round(2) %></td>
        <td><%= link_to 'Edit', edit_entry_path(i, :m => params[:id]) %></td>
        <td><%= link_to 'Destroy', i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
		</tbody>
	</table>
	</div>
</div>
</div>
<br/>
<br/>
<br/>

<script type="text/javascript">
	function expandSavings(){
		$('#contracted').addClass('hidden')
		$('#expanded').removeClass('hidden')
	}
	function contractSavings(){
		$('#contracted').removeClass('hidden')
		$('#expanded').addClass('hidden')
	}

	$('#rates').change(function(){
		window.location.href = "<%members_path( @member.id )%>?r=" + $('#rates').val()
	})

</script>

<style type="text/css">
	.header_actions{
		float: right;
    	margin-top: 45px;
    	font-size: 16px;
	}
	.header_actions a{
		color: gray;
	}
	.header_actions a:hover{
		color: #428bca;
		background: transparent;
		text-decoration: none;
		cursor: pointer;
	}
	.table-container{
		margin-top: 50px;
	}
	.am{
		width: 100%;
		display: inline-block;
	}
	.details_table{

		width: 500px;
	}
	.outcomes{
		display: inline-block;
	}
	.incomes{
		display: inline-block;
	}
	.left{
		float: left
	}
	.right{
		float: right
	}

	.fifty{
		width: 50%
	}
	.full-width{
		width: 100%
	}
</style>